{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.11/typed.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <title>Document</title>
</head>
<body>
   <nav class="navbar">
    <div class="max-width">
        <div class="logo"><a href="">Portfo<span>lio</span></a></div>
        <ul class="menu">
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Skills</a></li>
            <li><a href="#">Teams</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </div>
   </nav>

   <!-- home section -->
   <section class="home" id="home">
    <div class="max-width">
        <div class="home-content">
            <div class="text-1">Hello, My name is</div>
            <div class="text-1">Beth Nduta</div>
            <div class="text-3">And I'm a <span>Full Stack Developer</span></div>
        </div>
    </div>
   </section>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur suscipit, adipisci sint nemo eos officia quasi quae tempore nam, eius molestias blanditiis. Quidem quo quod perspiciatis beatae fugiat molestias. Optio sit fugiat a, aut ex, molestias assumenda, dolorum accusamus dolore nesciunt maiores quod earum. Nam aliquam, impedit iusto vero inventore, aliquid nesciunt nemo asperiores et veritatis, alias officia nihil quaerat temporibus eos ab? Perferendis atque repudiandae iure suscipit nam incidunt quasi? Ipsum maiores, voluptatibus distinctio neque eum modi commodi doloribus alias, mollitia, dicta ex quo illo explicabo libero ullam facere fuga? Et, sequi! Repellat mollitia ut laboriosam iste aperiam enim?</p>

<script src="{% static 'js/index.js' %}"></script>
</body>
</html>